*.log
Icon?
sys$command
*.sublime-project
*.sublime-workspace
.DS_Store*
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

gitconfig.local.symlink
gitignore.local.symlink

localrc*.symlink

tmux.conf.local.symlink
tmux.conf.work.symlink

gas-mask/work.hst
nextdns/dnscrypt-proxy.toml
