<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<!-- Key to uniquely identify the job to `launchd` -->
		<key>Label</key>
		<string>fitbit-connect-launcher</string>

		<!-- Absolute path to the executable -->
		<key>Program</key>
		<string>/Applications/Fitbit Connect.app/Contents/MacOS/Fitbit Connect</string>

		<!-- Run every Monday and Friday at 10am -->
		<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>10</integer>
				<key>Weekday</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Hour</key>
				<integer>10</integer>
				<key>Weekday</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
</plist>
